@font-face {
    font-family: riot;
    src: url(fonts/ProtestRiot-Regular.ttf);
}
.welcome{
    font-size: xx-large;
    font-family: riot;
    font-weight: bold;
    font-style: italic;
    color: rgb(64, 4, 121);
}
body{
    background-image: url(images/shopbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
}
.logo{
    border-radius: 50px;
    border-style: dotted;
    border-color: rgb(64, 4, 121);
    box-shadow: 10px;
    border-width: 10px;
}
.home{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color: darkmagenta;
    text-transform: capitalize;
    padding: 500px;
}
.index{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color: darkmagenta;
    text-transform: capitalize;
    padding: 80px;
}
.homies{
    font-size: xx-large;
    font-family: riot;
    font-weight: bold;
    font-style: italic;
    color:rgb(12, 121, 121);
}
.sb{
    border-radius: 50px;
    border-style:groove;
    border-color: rgb(22, 223, 223);
    box-shadow: 10px;
    border-width: 10px;
}
.clothes{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(6, 95, 65);
    text-transform: capitalize;
    padding: 70px;
}
.shoes{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(6, 95, 65);
    text-transform: capitalize;
    padding: 70px;
}
.makeup{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(6, 95, 65);
    text-transform: capitalize;
    padding: 70px;
}
.perfumes{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(6, 95, 65);
    text-transform: capitalize;
    padding: 70px;
}
.bags{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(6, 95, 65);
    text-transform: capitalize;
    padding: 70px;
}
.watches{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(6, 95, 65);
    text-transform: capitalize;
    padding: 70px;
}
.clothing{
    border-style:inset;
    border-color: rgb(153, 13, 130);
    box-shadow: 10px;
    border-width: 10px;
}
.ladies1{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(121, 119, 4);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(121, 119, 4);
    box-shadow: 10px;
    border-width: 10px;
}
.ladies2{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(121, 119, 4);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(121, 119, 4);
    box-shadow: 10px;
    border-width: 10px;
}
.ladies3{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(121, 119, 4);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(121, 119, 4);
    box-shadow: 10px;
    border-width: 10px;
}
.ladies4{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(121, 119, 4);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(121, 119, 4);
    box-shadow: 10px;
    border-width: 10px;
}
.ladies5{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(121, 119, 4);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(121, 119, 4);
    box-shadow: 10px;
    border-width: 10px;
}
.ladies6{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(121, 119, 4);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(121, 119, 4);
    box-shadow: 10px;
    border-width: 10px;
}
.lds{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(197, 11, 135);
    text-transform: capitalize;
    padding: 100px;
}
.gts{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(197, 11, 135);
    text-transform: capitalize;
    padding: 100px;
}
.child{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(197, 11, 135);
    text-transform: capitalize;
    padding: 100px;
}
.gents1{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(121, 119, 4);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(121, 119, 4);
    box-shadow: 10px;
    border-width: 10px;
}
.gents2{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(121, 119, 4);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(121, 119, 4);
    box-shadow: 10px;
    border-width: 10px;
}
.gents3{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(121, 119, 4);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(121, 119, 4);
    box-shadow: 10px;
    border-width: 10px;
}
.gents4{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(121, 119, 4);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(121, 119, 4);
    box-shadow: 10px;
    border-width: 10px;
}
.gents5{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(121, 119, 4);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(121, 119, 4);
    box-shadow: 10px;
    border-width: 10px;
}
.gents6{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(121, 119, 4);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(121, 119, 4);
    box-shadow: 10px;
    border-width: 10px;
}
.shop{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(8, 109, 109);
    text-transform: capitalize;
    padding: 80px;
}
.kid1{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(121, 119, 4);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(121, 119, 4);
    box-shadow: 10px;
    border-width: 10px;
}
.kid2{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(121, 119, 4);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(121, 119, 4);
    box-shadow: 10px;
    border-width: 10px;
}
.kid3{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(121, 119, 4);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(121, 119, 4);
    box-shadow: 10px;
    border-width: 10px;
}
.kid4{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(121, 119, 4);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(121, 119, 4);
    box-shadow: 10px;
    border-width: 10px;
}
.kid5{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(121, 119, 4);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(121, 119, 4);
    box-shadow: 10px;
    border-width: 10px;
}
.kid6{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(121, 119, 4);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(121, 119, 4);
    box-shadow: 10px;
    border-width: 10px;
}
.shoes1{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(32, 11, 223);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(32, 11, 223);
    box-shadow: 10px;
    border-width: 10px;
}
.shoes2{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(32, 11, 223);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(32, 11, 223);
    box-shadow: 10px;
    border-width: 10px;
}
.shoes3{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(32, 11, 223);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(32, 11, 223);
    box-shadow: 10px;
    border-width: 10px;
}
.shoes4{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(32, 11, 223);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(32, 11, 223);
    box-shadow: 10px;
    border-width: 10px;
}
.shoes5{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(32, 11, 223);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(32, 11, 223);
    box-shadow: 10px;
    border-width: 10px;
}
.shoes6{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(32, 11, 223);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(32, 11, 223);
    box-shadow: 10px;
    border-width: 10px;
}
.shoead{
    border-style:inset;
    border-color: rgb(153, 13, 130);
    box-shadow: 10px;
    border-width: 10px;
}
.bagsad{
    border-style:inset;
    border-color: rgb(153, 13, 130);
    box-shadow: 10px;
    border-width: 10px;
}
.bag1{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(14, 179, 23);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(14, 179, 23);
    box-shadow: 10px;
    border-width: 10px;
}
.bag2{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(14, 179, 23);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(14, 179, 23);
    box-shadow: 10px;
    border-width: 10px;
}
.bag3{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(14, 179, 23);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(14, 179, 23);
    box-shadow: 10px;
    border-width: 10px;
}
.bag4{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(14, 179, 23);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(14, 179, 23);
    box-shadow: 10px;
    border-width: 10px;
}
.bag5{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(14, 179, 23);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(14, 179, 23);
    box-shadow: 10px;
    border-width: 10px;
}
.bag6{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(14, 179, 23);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(14, 179, 23);
    box-shadow: 10px;
    border-width: 10px;
}
.makeupad{
    border-style:inset;
    border-color: rgb(153, 13, 130);
    box-shadow: 10px;
    border-width: 10px;
}
.es{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color: rgb(111, 122, 4);
    text-transform: capitalize;
    padding: 80px;
}
.ls{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color: rgb(111, 122, 4);
    text-transform: capitalize;
    padding: 80px;
}
.el{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color: rgb(111, 122, 4);
    text-transform: capitalize;
    padding: 80px;
}
.bl{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color: rgb(111, 122, 4);
    text-transform: capitalize;
    padding: 80px;
}
.ep1{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.ep2{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.ep3{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.ep4{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.ep5{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.ep6{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.blush1{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.blush2{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.blush3{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.blush4{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.blush5{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.blush6{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.ls1{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.ls2{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.ls3{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.ls4{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.ls5{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.ls6{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.el1{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.el2{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.el3{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.el4{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.el5{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.el6{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.perfad{
    border-style:inset;
    border-color: rgb(39, 220, 226);
    box-shadow: 10px;
    border-width: 10px;
}
.perf1{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(39, 220, 226);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(39, 220, 226);
    box-shadow: 10px;
    border-width: 10px;
}
.perf2{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(39, 220, 226);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(39, 220, 226);
    box-shadow: 10px;
    border-width: 10px;
}
.perf3{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(39, 220, 226);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(39, 220, 226);
    box-shadow: 10px;
    border-width: 10px;
}
.perf4{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(39, 220, 226);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(39, 220, 226);
    box-shadow: 10px;
    border-width: 10px;
}
.perf5{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(39, 220, 226);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(39, 220, 226);
    box-shadow: 10px;
    border-width: 10px;
}
.perf6{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(39, 220, 226);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(39, 220, 226);
    box-shadow: 10px;
    border-width: 10px;
}
.watchad{
    border-style:inset;
    border-color: rgb(11, 226, 108);
    box-shadow: 10px;
}
.watch1{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(11, 226, 108);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(11, 226, 108);
    box-shadow: 10px;
    border-width: 10px;
}
.watch2{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(11, 226, 108);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(11, 226, 108);
    box-shadow: 10px;
    border-width: 10px;
}
.watch3{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(11, 226, 108);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(11, 226, 108);
    box-shadow: 10px;
    border-width: 10px;
}
.watch4{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(11, 226, 108);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(11, 226, 108);
    box-shadow: 10px;
    border-width: 10px;
}
.watch5{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(11, 226, 108);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(11, 226, 108);
    box-shadow: 10px;
    border-width: 10px;
}
.watch6{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(11, 226, 108);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(11, 226, 108);
    box-shadow: 10px;
    border-width: 10px;
}