@font-face {
    font-family: riot;
    src: url(fonts/ProtestRiot-Regular.ttf);
}
.welcome{
    font-size: xx-large;
    font-family: riot;
    font-weight: bold;
    font-style: italic;
    color: rgb(64, 4, 121);
}
body{
    background-image: url(images/shopbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
}
.logo{
    border-radius: 50px;
    border-style: dotted;
    border-color: rgb(64, 4, 121);
    box-shadow: 10px;
    border-width: 10px;
}
.home{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color: darkmagenta;
    text-transform: capitalize;
    padding: 500px;
}
.index{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color: darkmagenta;
    text-transform: capitalize;
    padding: 80px;
}
.homies{
    font-size: xx-large;
    font-family: riot;
    font-weight: bold;
    font-style: italic;
    color:rgb(12, 121, 121);
}
.sb{
    border-radius: 50px;
    border-style:groove;
    border-color: rgb(22, 223, 223);
    box-shadow: 10px;
    border-width: 10px;
}
.clothes{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(6, 95, 65);
    text-transform: capitalize;
    padding: 70px;
}
.shoes{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(6, 95, 65);
    text-transform: capitalize;
    padding: 70px;
}
.makeup{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(6, 95, 65);
    text-transform: capitalize;
    padding: 70px;
}
.perfumes{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(6, 95, 65);
    text-transform: capitalize;
    padding: 70px;
}
.bags{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(6, 95, 65);
    text-transform: capitalize;
    padding: 70px;
}
.watches{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(6, 95, 65);
    text-transform: capitalize;
    padding: 70px;
}
.clothing{
    border-style:inset;
    border-color: rgb(153, 13, 130);
    box-shadow: 10px;
    border-width: 10px;
}
.ladies1{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(121, 119, 4);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(121, 119, 4);
    box-shadow: 10px;
    border-width: 10px;
}
.lds{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(197, 11, 135);
    text-transform: capitalize;
    padding: 100px;
}
.gts{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(197, 11, 135);
    text-transform: capitalize;
    padding: 100px;
}
.child{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(197, 11, 135);
    text-transform: capitalize;
    padding: 100px;
}
.shop{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(8, 109, 109);
    text-transform: capitalize;
    padding: 80px;
}
.shoes1{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(32, 11, 223);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(32, 11, 223);
    box-shadow: 10px;
    border-width: 10px;
}
.shoead{
    border-style:inset;
    border-color: rgb(153, 13, 130);
    box-shadow: 10px;
    border-width: 10px;
}
.bagsad{
    border-style:inset;
    border-color: rgb(153, 13, 130);
    box-shadow: 10px;
    border-width: 10px;
}
.bag1{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(14, 179, 23);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(14, 179, 23);
    box-shadow: 10px;
    border-width: 10px;
}
.makeupad{
    border-style:inset;
    border-color: rgb(153, 13, 130);
    box-shadow: 10px;
    border-width: 10px;
}
.es{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color: rgb(111, 122, 4);
    text-transform: capitalize;
    padding: 80px;
}
.ls{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color: rgb(111, 122, 4);
    text-transform: capitalize;
    padding: 80px;
}
.el{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color: rgb(111, 122, 4);
    text-transform: capitalize;
    padding: 80px;
}
.bl{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color: rgb(111, 122, 4);
    text-transform: capitalize;
    padding: 80px;
}
.ep1{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(224, 15, 207);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(224, 15, 207);
    box-shadow: 10px;
    border-width: 10px;
}
.perfad{
    border-style:inset;
    border-color: rgb(39, 220, 226);
    box-shadow: 10px;
    border-width: 10px;
}
.perf1{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(39, 220, 226);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(39, 220, 226);
    box-shadow: 10px;
    border-width: 10px;
}
.watchad{
    border-style:inset;
    border-color: rgb(11, 226, 108);
    box-shadow: 10px;
}
.watch1{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: riot;
    color:rgb(11, 226, 108);
    text-transform: capitalize;
    padding: 70px;
    border-radius: 50px;
    border-style:outset;
    border-color: rgb(11, 226, 108);
    box-shadow: 10px;
    border-width: 10px;
}